<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
    <nav>
        <a href="/">홈</a>
        <a href="/board/">게시글 목록</a>

        {% if user.is_authenticated %}
            <a href="{% url 'my_posts' %}">마이페이지</a>
            <a href="{% url 'edit_profile' %}">프로필 수정</a>
            <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
            <a href="{% url 'login' %}">로그인</a>
            <a href="{% url 'signup' %}">회원가입</a>
        {% endif %}
    </nav>
    <hr>

    <h2>회원가입</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type= "submit">가입</button>
    </form>
</body>
</html>